body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.map {
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.top-panel {
    position: fixed;
    z-index: 1;
    width: 100%;
    margin: 4% 14%;
}

.search {
    font-size: 16pt;
    padding-left: 6%;
    padding-right: 6%;
    height: 40px;
    width: 95%;
    margin-top: 0;
    padding-top: 0;
    border-radius: 35px;
}

option {
    margin: 12px;
}

.search-block {
    width: 85%;
    display: flex;
    flex-direction: row;
}

.btn-search {
    height: 30px;
    width: 30px;
    margin-top: 1%;
    position: fixed;
    right: 16px;
    margin-left: 10px;
}

.bottom-panel {
    position:fixed;
    bottom:10%;
    right: 6%;
    height:40px;
    width:100%;
}

.loading-screen {
    margin-top: 64%;
    margin-left: 30%;
    background: transparent;
}

.gps-indicator {
    z-index: 4;
    float: right;
}

.gps-indicator:hover{
    opacity: 0.6;
}

.sliding-panel {
    background: white;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    z-index: 0;
    opacity: 0.9;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30%;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translateY(+100%);
    -moz-transform: translateY(+100%);
    transform: translateY(+100%);
}

.description {
    color: black;
    font-weight: 300;
    position: relative;
    padding: 2em;
    margin: 0 auto;
    max-width: 980px;
    position: fixed;
    margin-top: 10px;
    z-index: 6;
}

.description h1 {
    font-size: 25px;
    color: black;
    margin: 0;
}

.description p {
    font-size: 16px;
    color: black;
}

.btn-open {
    position: absolute;
    clip: rect(0 0 0 0);
    opacity: 0;
}

.btn-open:checked ~ .sliding-panel {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0, 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.35s;
    -moz-transform: 0.35s;
    transition: 0.35s;
}

.btn-open:not(:checked) ~ .sliding-panel {
    -webkit-transition: 0.35s;
    -moz-transition: 0.35s;
    transition: 0.35;
}

.btn-close {
    position: fixed;
    width: 24;
    height: 24;
    z-index: 8;
    right: 25px;
    top: 25px;
} 

.btn-start {
    position: fixed;
    z-index: 8;
    float: right;
    bottom: 20px;
    right: 20px;
    border-radius: 80px;
    width: 65px;
    height: 65px;
    background: palevioletred;
    color: white;
    font-size: 20px;
    border: solid 3px white;
    //margin-top: 38%;
}

.result-list {
    background: white;
    opacity: 0.9;
    margin-top: -1px;
    padding-left: 4%;
    padding-right: 4%;
    width: 86.5%;
    display: flex;
    flex-direction: column;
}

.search-list {
    display: flex;
    flex-direction: column;
    width: 85%;
}

.btn-result {
    background: transparent;
    opacity: 0.9;
    font-size: 20px;
    border: none;
    padding: 10px;
    text-align: left;
}

//Orientamento verticale
@media screen and (max-width: 500px) {
    .gps-indicator {
        margin-top: 45px;
    }
}

//Orientamento orizzontale
@media screen and (min-width: 500px) {
    .sliding-panel {
        height: 45%;
    }

    .btn-search {
        position: fixed;
        right: 46px;
    }

    .gps-indicator {
        margin-bottom: 30px;
    }
}